@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --primaryColor: #3DC2BA;
  --textColor: #828282;
  --backgroundLight: #f2f2f2;
  --backgroundDark: #e0e0e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Righteous", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li,
a, input, button {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  font-size: inherit;
  outline: none;
}

form > * {
  display: block;
}

@media all and (max-width: 720px){
  body{
    font-size: 14px;
  }
  
}

@media all and (max-width: 600px){
  body{
    font-size: 12px;
  }
  
}