.banner {
  margin-top: 8rem;
  background: var(--primaryColor);
  color: white;
  display: flex;
  padding: 1rem 8rem;
}

.banner p {
  font-size: 1.7rem;
}

.banner-left {
  flex: 45%;
}

.banner-right {
  flex: 30%;
}

.banner-phone {
  flex: 25%;
  position: relative;
}

.phone-image {
  position: relative;
  left: 43%;
  bottom: 35%;
}

.store {
  padding: 0.2rem 1rem;
  border-radius: 30px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 1rem;
}

.store-links {
  display: flex;
  margin: 1rem auto 0;
}

.store-links span {
  margin-right: 1rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.social {
  margin-top: 2rem;
}

.social > * {
  margin-left: 1rem;
}

@media all and (max-width: 1000px){
  .banner{
    padding: 1rem 2rem;
  }

  .banner p{
    font-size: 1.2rem;
  }

  .store{
    font-size: 12px;
  }
}

@media all and (max-width: 650px){
  .banner{
    padding: 1rem;
  }

  .banner p{
    font-size: 1rem;
  }

  .banner-phone img{
    display: none;
  }

  .banner-left {
    flex: 50%;
  }
  
  .banner-right {
    flex: 40%;
  }
  
  .banner-phone {
    flex: 10%;
  }

  .icon{
    width: 1rem;
  }

  .store-links{
    width: 100%;
  }

  .store{
    font-size: 12px;
  }
}

@media all and (max-width: 500px){
  .banner, .store-links{
    flex-direction: column;
  }

  .store-links{
    margin-bottom: 1rem;
  }

  .store-links > *{
    margin-top: 1rem;
  }
  
}