#home-image {
  width: 90%;
}

.intro {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 4rem;
}

.intro-left {
  flex: 40%;
  align-self: center;
  margin-right: 1rem;
}

.intro-left h1 {
  margin-bottom: 4rem;
  color: black;
  max-width: 80%;
}

.intro-left-heading {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.intro-link {
  margin-top: 1rem;
}

.intro-right {
  flex: 60%;
  margin-left: 1rem;
}
